services:
  app:
    build: .
    container_name: myauthservice_app
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: myauthservice.settings.dev
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true